<div class="container">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <form action="/address/" method="post" class="form-inline pull-right">
        <button type="submit" class="btn btn-default">New</button>
      </form>
      <h2 class="panel-title">Known Addresses</h2>
    </div>
    <ul class="list-group">
      {{#each addresses as |address|}}
      <li class="list-group-item">
        <a href="/address/{{address}}" class="btn btn-default pull-right">View</a>
        <h4 class="list-group-item-heading">{{address}}</h4>
        <p class="list-group-item-text">Summary of account here...</p>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Issue new Assets</h2>
    </div>
    <div class="panel-body">
      <form action="/address/issue/" method="post" class="form-horizontal">
        <div class="form-group">
          <label for="address" class="col-sm-2 control-label">Recipient</label>
          <div class="col-sm-10">
            <select name="address" id="address" class="form-control">
              {{#each addresses as |address|}}
              <option value="{{address}}">{{address}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="asset" class="col-sm-2 control-label">Token name</label>
          <div class="col-sm-10">
            <input name="asset" id="asset" placeholder="Name of token..." class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="qty">Amount</label>
          <div class="col-sm-10">
            <div class="input-group">
              <input name="qty" id="qty" placeholder="Amount..." class="form-control">
              <div class="input-group-addon">.00</div>
            </div>
          </div>
        </div>
        <input type="hidden" name="units" value="0.01">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Issue</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
